body {
  text-align: center;
  font-family: courier;
}

.chat{
    width: 300px;
    position: fixed;
    right: 10px;
    background: #fff;
    padding: 10px;
    bottom: 90px;
    display:none;
    box-shadow: 0px 0px 10px 5px #ddd;

    .messages-box{
          margin-top: 10px;
          max-height:300px;
          transition:all 0.3s linear;

         .message{
          padding: 5px 10px;
          margin-bottom: 2px;
          background-color: #5290F5;
          color: #fff;
          position: relative;
          border-radius: 10px 0 0 10px;
          width: 80%;
          float: right;
          transition: all 0.3s linear;

           &:first-child{
             border-radius: 10px 10px 0px 10px;
           }
           &:last-child{
             border-radius: 10px 0px 10px 10px;
           }

          &.active{
            background-color:#F37660;
          }
          p{
            margin: 0 10px 0 0;
          }

          .faded{
            position:absolute;
            top:5px;
            right:7px;
            cursor:pointer;
            font-size:12px;
            transform:scale(.5);
            opacity:0;
            transition:all 0.3s linear;
          }
           &:hover{
             .fa{
               transform:scale(1);
               opacity:1;
             }
           }
      } //.message-box

  } //.message-box

    form{
      border-top:1px solid #ddd;
      padding:10px;
      margin:-10px;
      margin-top:20px;
      background-color:#fff;

    input{
        padding: 7px 10px;
        font-size: 15px;
        width: 87%;
        border: 1px solid #ddd;
        color:#9A9797;
        font-weight:300;

        &:focus{
          outline:inherit;
        }
      &.error{
        border:1px solid rgba(255, 0, 0, 0.5);
      }
      } // input

    button{
      border:none;
      background-color:transparent;
      font-size:18px;
      color:#4085F6;
      cursor:pointer;

      &:focus{
          outline:inherit;
      }
    }
  } //.form

} //.chat

// message icon
.message-icon{
  width:40px;
  height:40px;
  background:#4085F6;
  line-height:40px;
  text-align:center;
  color:#fff;
  font-size:20px;
  border-radius:50%;
  position:fixed;
  bottom:30px;
  right:30px;
  cursor:pointer;
}
